{{ $currentVer := site.Params.doks.docsVersion }}
{{ $defaultVer := site.Data.versions.defaultVersion }}
{{ if and $currentVer $defaultVer (ne $currentVer $defaultVer) (ne $currentVer "dev") }}
  <div class="version-warning-banner">
    You are currently viewing documentation for OCM version <strong>{{ $currentVer }}</strong>.<br>
    Version <strong>{{ $currentVer }}</strong> is no longer actively maintained. For up-to-date information, see the latest released version <a href="{{ "/" | relLangURL }}" class="version-warning-link">{{ $defaultVer }}</a>.
  </div>
{{ end }}
